.codesandbox
.devcontainer
.github
*.html
*.json
*.yaml
*.yml
*.mdx
*.css
*.sass
*.scss
*.vue
*.MD
*.jsonc
*rc.js
*rc
public
assets
LICENSE
__snapshots__

# builds
types
build
*/build
dist
**/dist
lib
es
artifacts
coverage
*.tgz
